/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  ROOT ELEMENTS
  
----------------------------------------------------------------------------- */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #6d6d6d;
  background-color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

/* -----------------------------------------------------------------------------

  HEADING ELEMENTS
  
----------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
  font-weight: 700;
  line-height: 1.2;
}

/* -----------------------------------------------------------------------------

  TEXT ELEMENTS
  
----------------------------------------------------------------------------- */

a {
  color: #28aadc;
  text-decoration: none;
}

a:hover {
  color: #00648c;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

/* -----------------------------------------------------------------------------

  LAYOUT
  
----------------------------------------------------------------------------- */

.container {
  margin: 0 auto;
  padding: 24px;
  width: 960px;
}

/* -----------------------------------------------------------------------------

  SCOREBOARD
  
----------------------------------------------------------------------------- */

.scoreboard {
  text-align: center;
}

/* -----------------------------------------------------------------------------

  GAME
  
----------------------------------------------------------------------------- */

.gameboard {
  display: block;
  margin: 0 auto;
  background-color: #fff;
}