/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  ROOT ELEMENTS
  
----------------------------------------------------------------------------- */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #6d6d6d;
  background: url('img/bg.gif') top left repeat;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
}

/* -----------------------------------------------------------------------------

  HEADING ELEMENTS
  
----------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
  font-weight: 700;
  line-height: 1.2;
}

/* -----------------------------------------------------------------------------

  TEXT ELEMENTS
  
----------------------------------------------------------------------------- */

a {
  color: #28aadc;
  text-decoration: none;
}

a:hover {
  color: #00648c;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

/* -----------------------------------------------------------------------------

  LAYOUT
  
----------------------------------------------------------------------------- */

.container {
  margin: 0 auto;
  padding: 24px;
  width: 1140px;
}

/* -----------------------------------------------------------------------------

  SCOREBOARD
  
----------------------------------------------------------------------------- */

.scoreboard {
  margin-bottom: 24px;
  text-align: center;
}

.score {
  display: inline-block;
  margin: 0 24px;
  padding: 4px 12px;
  width: 280px;
  color: #fff;
  background-color: rgb(29, 29, 29);
  font-size: 18px;
}

/* -----------------------------------------------------------------------------

  GAME
  
----------------------------------------------------------------------------- */

.gameboard {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  background-image: url('img/board-bg.jpg');
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.8), 0 0 0 12px rgb(255, 40, 100);
}

/* -----------------------------------------------------------------------------

  MONSTERS
  
----------------------------------------------------------------------------- */

.monster1 {

}

.monster2 {
  
}

/* -----------------------------------------------------------------------------

  CUPCAKE
  
----------------------------------------------------------------------------- */

.cupcake {
  background-image: url('img/cupcake.png');
}